.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f !important;
    color: #1f1f1f !important;
    min-height: 100vh; /* Full viewport height */
    padding: 2rem;
  }
  .title-text{
    color: white;
    min-height: 20vh;
  }
  .main-text {
    transform: translate(50%, -40%);
    width: 50%;
    color: white;
    font-family: 'Comic Sans MS';
  }
  .audio-display {
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
  }