.hero{
  background-color: #000 !important;
  color: #000 !important;
}
/* Hero.module.css */
.heroContainer {
  background-color: #1f1f1f; /* Dark gray */
  min-height: 100vh; /* Full viewport height */
  padding: 2rem;
}

.large-text {
  font-size: 3rem;
  position: 'absolute';
  right: 520px;
  width: 350px; 
  top: 450px;               
  color: 'white';
  margin: 10;        
  font: 'Times New Roman';
  padding: 15.1;
  border: 'solid';
  borderColor: 'white';
  textDecoration: 'none';
}

.gallery-link {
  position: relative;
  justify-content: center;
  align-items: left;
  transform: translate(50%, 50%);

}