.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000 !important;
    color: #ffffff;
    padding: 0;
  }

  .navbar a {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    align-items: center;
  }
  
  .navbar a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
  }
  
  .navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-center .nav-links li {
    margin-right: 1rem;
  }
  
  .navbar-center .nav-links a {
    color: #d3d3d3;
    text-decoration: none;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right .cart-icon,
  .navbar-right .user-icon {
    color: #ffffff;
    text-decoration: none;
    margin-left: 1rem;
    position: relative;
  }
  
  .navbar-right .cart-count {
    background-color: #f44336;
    color: #000000;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
  }
  
  /* Add responsiveness for mobile devices */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      padding: 0.5rem;
    }
    
    .navbar-center .nav-links {
      flex-direction: column;
      width: 100%;
      text-align: center;
      padding: 0.5rem 0;
    }
    
    .navbar-center .nav-links li {
      margin-right: 1000rem;
      margin-bottom: 0.5rem;
    }
    
    .navbar-right {
      margin-top: 0.5rem;
    }
  }
  